html {
  scroll-behavior: smooth;
}
.wrapper {
    display: flex;
    background-color: #171717; 
  
  }

.menu {
  flex: 1;
  writing-mode: vertical-rl;
  position: sticky;
  top: 0;
  align-self: flex-start;
  margin-top: 8em;
  background-color: #171717; 
  text-orientation: upright; 
  opacity: 0;
  animation: menuAni 3.0s ease-in 1.0s 1 normal; 
  animation-fill-mode: forwards;
}

@keyframes menuAni {
0%   { opacity: 0; }
100% {opacity: 1; }
}

.main-content {
  flex: 16;
  background-color: #171717; 
}


 a {
    text-decoration: none;
    font-size: 14px;
    line-height: 0.8em;
    padding: 10px 0px 12px;
    margin: 15px 10px 10px;
    color: #808080;
    font-family: 'Inter', sans-serif;
  }
  a:hover {
    color: #D0D0D0;
  }

  .intro {
  height: 48em;
  background-color: #171717; 
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
  } 

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 27vw;
}
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 30em;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
    .line::after {
      content: '';
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
      animation: run 7s 0s infinite;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97); 
    }

     .line:nth-child(1){
      margin-left: -25%;
     }
      .line::after{
        animation-delay: 1.5s;
      }
    .line:nth-child(3){
      margin-left: 25%;
    }
      .line::after{
        animation-delay: 1.5s;
      }

@keyframes run {
  0% {top: -50%; }
  100% {top: 110%; }
}

h1{
  color:  #808080;
  margin-top: 10em;
  margin-left: 8em;
  opacity: 0;
  animation: privet 1.0s ease-in 1.0s 1 normal; 
  animation-fill-mode: forwards;
  font-family: 'Inter', sans-serif;
}

@keyframes privet {
0%   { opacity: 0; }
100% {opacity: 1; }
}


  .about, .projects, .connect {
    background-color: #171717;
    height: 40em;
    margin-left: 3em;
    color: #808080;
    font-family: 'Inter', sans-serif;
  }
  


  .about {
    display: flex;
    height: 60em;
    flex-direction: column;
  }
  .about-stack-picture{
    display: flex;
    flex-direction: row;
  }
  .stack {
    flex-basis: 35%;
    transition: transform 0.25s;
	  will-change: transform;
  }
  .picture{
    flex-basis: 65%;

  }
  .projects {
    height: 50em;
  }

  h5{
    margin-top: 5em;
    font-size: 20px;
    line-height: 0.8em;
    margin-left: 10em;
    opacity: 0.7;

  }

  h5:hover{
    opacity: 1;
    color: white;
  }
  .stack {
    margin-left: 13em;
    margin-top: 10em;
    font-size: 15px;
    height: 20em;
    transition: transform 0.25s;
	  will-change: transform;

  }

  .logosColumn {
    display: flex;
    flex-direction: column;
  }
  .logos {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    margin-left: 12em;
    -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
    }

  .projectLogo {
    margin-right: 2em;
  }
  .projectImg {
    height: 13em;
    width: 19em;
    border-radius: 3px;
    opacity: 0.3;
    overflow: hidden; 
    margin: 0 auto;
    transition: 0.5s all ease-in-out;
  }
  .projectImg:hover{
    opacity: 1;
    transform: scale(1.2); 
  }
 

.typewriter h4 {
  color: lightgrey;
  overflow: hidden; 
  border-right: .15em solid whitesmoke; 
  white-space: nowrap; 
  margin: 0 auto; 
  margin-left: 13em;
  margin-top: 20em;
  letter-spacing: .15em; 
  animation: typing 4.5s steps(35, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
 @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: whitesmoke }
 }  

  .media {
    margin-left: 12em;
    margin-top: 8em;

  }

  .fa {
    padding:3px;
    margin-left:8em;
    opacity: 0.5;
  }
  .fa:hover{
    opacity: 1;
    color: gainsboro;
    transform: scale(1.5); 
  }
 

  footer {
    background-color: #BFDFC4;
    display: flex;
    flex-direction: column; 
  
  }


#main-play-area {
  background: gray;
  width: 400px;
  height: 400px;
}
#player-controlled-shooter {
  width: 40px;
  height: 20px;
  position: relative;
  left: 20px;
  background: black;  
}

.resumeLink {
color: #D0D0D0;
font-size: 14px;
margin-left: 0px;
 opacity: 0.8;
}
.resumeLink:hover {
  opacity: 1;
  color: white;
}


/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}